#covidTestDetails-success, #covidTestDetails-fail{
    visibility: hidden;
}

.ct_successfull{
    background-color: #adebad;
    color: #196619;
    border: 2px solid #196619;
    font-weight: 700;
    width: 100%;
    padding: 1rem;
}

.ct_error{
    background-color: #ff9999;
    color: #800000;
    border: 2px solid #800000;
    font-weight: 700;
    width: 100%;
    padding: 1rem;
}